/* Initial */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Lato Regular';
}

/* Utility Class */

.py-60 {
  padding-top: 60px;
  padding-bottom: 60px;
}

.mb-64 {
  margin-bottom: 64px;
}

.pt-64 {
  padding-top: 64px;
}

.h-100 {
  height: 100vh;
}

.bg-white {
  background-color: #FAFAFA;
}

.text-center {
  text-align: center;
}


/* Container */
.container {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-left: 16px;
  padding-right: 16px;
  max-width: 100%;
}

@media (min-width: 640px) {
  .container {
    max-width: 640px;
  }
}

@media (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}

@media (min-width: 1024px) {
  .container {
    max-width: 1024px;
  }
}

@media (min-width: 1280px) {
  .container {
    max-width: 1280px;
  }
}

/* Grid */
.blog-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  padding-left: 16px;
  padding-right: 16px;
}

@media screen and (min-width: 1024px) {
  .blog-grid {
    grid-template-columns: repeat(4, 1fr);
  }
}

@media screen and (max-width: 767px) {
  .blog-grid {
    grid-template-columns: inherit;
  }
}

/* Card */
.articles-card {
  text-decoration: none;
  width: 100%;
  cursor: pointer;
  overflow: hidden;
  transition: all 0.3s;
}

.articles-card:hover {
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.06);
}

.articles-card img {
  width: 100%;
  height: 250px;
  display: block;
  object-fit: cover;
}

.articles-card__content {
  padding: 16px;
}

.articles-card__content h3 {
  font-size: 20px;
  font-weight: 600;
  color: #10152E;
}

.articles-card__description {
  font-size: 16px;
  line-height: 1.5;
  color: #4E5265;
  margin-top: 12px;
  margin-bottom: 12px;
}

.articles-card__author {
  font-size: 13px;
  color: #374151;
  font-weight: 500;
}


/* Button */
.btn {
  padding: 10px 20px;
  background-color: #000000;
  color: white;
  border: none;
  border-radius: 8px;
  font-size: 16px;
  font-weight: 500;
  cursor: pointer;
  transition: background-color 0.2s ease, box-shadow 0.2s ease;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}

.btn:hover {
  background-color: #00000007;
  color: #000;
}

/* Main Heading */
.heading-lg {
  font-weight: 600;
  color: #262D4D;
  text-align: center;
}

@media (max-width: 767px) {
  .heading-lg {
    font-size: 34px;
    line-height: 34px;
  }
}

@media (min-width: 768px) {
  .heading-lg {
    font-size: 42px;
    line-height: 42px;
  }
}

@media (min-width: 1024px) {
  .heading-lg {
    font-size: 48px;
    line-height: 66px;
  }
}

/* Menu */
.breadcrumb {
  font-size: 14px;
  line-height: 20px;
  color: #2c2f4a;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4px;
  margin-bottom: 4px;
  text-transform: uppercase;
}

.breadcrumb a {
  color: #262D4D;
  text-decoration: none;
}

.breadcrumb a:hover,
.breadcrumb__active {
  font-weight: 700;
}