/* Initial */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Lato';
  font-weight: 400;
}

/* Utility Class */

.py-60 {
  padding-top: 60px;
  padding-bottom: 60px;
}
.px-0 {
  padding-left: 0 !important;
  padding-right: 0 !important;
}

.mb-64 {
  margin-bottom: 64px;
}

.pt-64 {
  padding-top: 64px;
}

.h-100 {
  height: 100vh;
}

.bg-white {
  background-color: #FAFAFA;
}

.text-center {
  text-align: center;
}

.explore-more-link {
  display: block;
  text-decoration: none;
  color: #10152E;
  font-size: 20px;
  font-weight: 600;
  line-height: 28px;
  letter-spacing: 1px;
  margin-top: 28px;
  text-transform: capitalize;
}


/* Container */
.container {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-left: 16px;
  padding-right: 16px;
  max-width: 100%;
}

@media (min-width: 640px) {
  .container {
    max-width: 640px;
  }
}

@media (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}

@media (min-width: 1024px) {
  .container {
    max-width: 1024px;
  }
}

@media (min-width: 1280px) {
  .container {
    max-width: 1200px;
  }
}

/* Grid */
.blog-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  padding-left: 16px;
  padding-right: 16px;
}

@media screen and (min-width: 1024px) {
  .blog-grid {
    grid-template-columns: repeat(4, 1fr);
  }
}

@media screen and (max-width: 767px) {
  .blog-grid {
    grid-template-columns: inherit;
  }
}

.row {
  display: flex;
  /* gap: 20px; */
  flex-wrap: wrap;
  margin: 0 -8px;
}

.col-3 {
  flex: 0 0 25%;
  max-width: 25%;
  padding: 0 8px;
}

.col-9 {
  flex: 0 0 75%;
  max-width: 75%;
  padding: 0 8px;
}

@media (max-width: 767px) {

  .col-3,
  .col-9 {
    flex: 0 0 100%;
    max-width: 100%;
  }
}

/* Card */
.articles-card {
  text-decoration: none;
  width: 100%;
  cursor: pointer;
  overflow: hidden;
  transition: all 0.3s;
}

.articles-card:hover {
  transition: all 0.3s;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.06);
}

.articles-card img {
  width: 100%;
  height: 250px;
  display: block;
  object-fit: cover;
}

.articles-card__content {
  /* padding: 16px; */
  margin-top: 12px;
}

.articles-card:hover .articles-card__content {
   padding: 8px;
    transition: ease-in-out 0.3s;
}

.articles-card__content h3 {
  font-size: 20px;
  font-weight: 600;
  color: #10152E;
}

.articles-card__description {
  font-size: 16px;
  line-height: 1.5;
  color: #4E5265;
  margin-top: 12px;
  margin-bottom: 12px;
}

.articles-card__author {
  font-size: 14px;
  color: #000000;
  font-weight: 500;
}


/* Button */
.btn {
  padding: 10px 20px;
  background-color: #000000;
  color: white;
  border: none;
  border-radius: 12px;
  font-size: 14px;
  font-weight: 500;
  cursor: pointer;
  transition: background-color 0.2s ease, box-shadow 0.2s ease;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}

.btn:hover {
  background-color: #00000007;
  color: #000;
}

.btn.btn--success {
    background-color: #00BA5C;
}
.btn--align {
    display: flex;
    gap: 8px;
    padding-top: 16px;
    padding-bottom: 16px;
}

/* Main Heading */
.heading-lg {
  font-weight: 600;
  color: #262D4D;
  text-align: center;
}
.heading-md {
  font-weight: 600;
  color: #10152E;
  font-size: 20px;
  line-height: 28px;
  letter-spacing: 1px;
}
@media (max-width: 767px) {
  .heading-lg {
    font-size: 28px;
    line-height: 40px;
  }
}

@media (min-width: 768px) {
  .heading-lg {
    font-size: 42px;
    line-height: 42px;
  }
}

@media (min-width: 1024px) {
  .heading-lg {
    font-size: 48px;
    line-height: 66px;
  }
}

/* Menu */
.breadcrumb {
  font-size: 14px;
  line-height: 20px;
  color: #2c2f4a;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4px;
  margin-bottom: 4px;
  text-transform: uppercase;
}

.breadcrumb a {
  color: #262D4D;
  text-decoration: none;
}

.breadcrumb a:hover,
.breadcrumb__active {
  font-weight: 700;
}