.hero-banner img {
    width: 100%;
    height: 560px;
    object-fit: cover;
    object-position: 60%;
}

.post-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 16px;
    margin-top: 28px;
    padding-bottom: 24px;
    border-bottom: 1px solid #E5E6EA
}

.post-header__author {
    display: flex;
    align-items: center;
    gap: 10px;
    font-weight: 600;
    color: #4E5265;
    text-transform: uppercase;
}

.post-header__author img {
    width: 32px;
    height: 32px;
    border-radius: 50%;
}

.post-header__date {
    font-size: 16px;
    color: #4E5265;
    font-weight: 600;
    text-transform: uppercase;
}

.post-content {
    margin-top: 32px;
}

.post-content p {
    margin-bottom: 32px;
    line-height: 24px;
    color: #10152E;
}

.post-content blockquote {
    padding: 24px;
    margin-bottom: 32px;
    border-top: 1px solid;
    border-bottom: 1px solid;
    border-color: #E5E6EA;
    /* background: #f2f2f2; */
    font-style: italic;
    font-weight: 600;
    line-height: 24px;
    color: #000;
}

/* Slider Testimonial */
.post-testimonial {
    position: relative;
    /* max-width: 800px; */
    /* margin: auto; */
    /* overflow: hidden; */
}

.post-testimonial__slider {
    border-top: 1px solid #E5E6EA;
    border-bottom: 1px solid #E5E6EA;
    position: relative;
    display: flex;
    padding: 24px;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.post-testimonial__slider h4 {
    margin-bottom: 12px;
    font-size: 20px;
    font-weight: 400;
    line-height: 30px;
}

.post-testimonial__slider p {
    margin-top: 12px;
    line-height: 24px;
    font-size: 16px;
    font-style: italic;
    color: #4E5265;
    font-weight: 600;
}

.post-testimonial__slider img {
    object-fit: cover;
    border-radius: 12px;
    border-radius: 50%;
    transition: all 0.5s ease;
}

.post-testimonial__btn {
    margin-top: 32px;
    display: flex;
    justify-content: space-between;
}

.post-testimonial__btn button {
    display: flex;
    gap: 10px;
    font-size: 16px;
    color: #05091C;
    padding: 12px 16px;
    cursor: pointer;
    background-color: #fff;
    border: 1px solid #05091C;
    border-radius: 2px;
    transition: all 0.3s;
}

.post-testimonial__btn button:hover {
    color: #fff;
    background-color: rgba(0, 0, 0, 0.7);
}

/* .post-testimonial__btn button:hover svg mask {
    fill: #fff;
} */

.post-testimonial__btn div p {
    margin-top: 8px;
    color: #262D4D;
    font-size: 14px;
    line-height: 20px;
}

.post-testimonial__btn div:first-child {
    text-align: left;
}

.post-testimonial__btn div:last-child button {
    margin-left: auto;
}

/* Right Sidebar */
.post-card {
    margin-top: 40px;
}

.post-card__content {
    margin-top: 25px;
    font-size: 14px;
    display: flex;
    align-items: center;
    gap: 6px;
}

.post-card__content span:first-child {
    font-weight: 500;
    color: #000000;
}

.post-card__content span:nth-child(2) {
    color: #DEDEDE;
}

.post-card__content span:last-child {
    color: #757575;
}

.post-card p {
    font-size: 16px;
    margin-top: 10px;
    line-height: 24px;
    color: #121212;
}


.tour-guide {
    margin-top: 100px;
    max-height: 450px;
    overflow-y: auto;
}

.tour-guide h3 {
    color: #10152E;
    font-size: 20px;
    line-height: 28.13px;
    letter-spacing: 1px;
    margin-bottom: 15px;
}

.tour-guide__card {
    padding-top: 25px;
    padding-bottom: 25px;
    border-bottom: 1px solid #DEDEDE;
}

.tour-guide__card>div:first-child {
    display: flex;
    align-items: center;
    gap: 15px;
}

.tour-guide__card:last-child {
    border-bottom: none;
}

.tour-guide__card img {
    width: 48px;
    height: 48px;
    border-radius: 50%;
    object-fit: cover;
}

.flex-1 {
    flex: 1;
}

.tour-guide__card h4 {
    font-weight: 400;
    font-size: 16px;
    color: #000;
}

.tour-guide__card p {
    font-size: 14px;
    color: #000;
    opacity: 0.8;
    display: flex;
    align-items: center;
    gap: 4.93px;
    margin-top: 4px;
}

.tour-guide__card p svg {
    width: 18px;
    height: 18px;
}

.tour-guide__card-rating {
    margin-top: 15px;
    color: #121212;
    font-size: 15px;
    display: flex;
    align-items: center;
    gap: 5.6px;
}

.tour-guide__card-rating span {
    margin-left: 4.4px;
}

.tour-guide__card-rating svg {
    width: 15px;
    height: 15px;
}

.comments {
    margin-top: 60px;
}

.comments h3 {
    margin-bottom: 30px;
}

.comments-card {
    display: flex;
    align-items: center;
    gap: 20px;
    margin-bottom: 30px;
    padding-bottom: 30px;
    border-bottom: 1px solid #DEDEDE;
}

.comments-card img {
    width: 60px;
    height: 60px;
    border-radius: 50%;
}

.comments-card__content {
    display: flex;
    gap: 10px;
    align-items: center;
    font-size: 0.9rem;
}

.comments-card__content span {
    color: #000000;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 1px;
}

.comments-card__content .tour-guide__card-rating {
    margin-top: 0;
}


.comments-card__content-text {
    margin-top: 10px;
    font-size: 16px;
    line-height: 24px;
    color: #10152E;
    opacity: 0.8;
}

.comments-add {
    margin-top: 40px;
    padding-bottom: 30px;
}

.comment-form {
    display: flex;
    gap: 25px;
    flex-wrap: wrap;
    margin-bottom: 12px;
}

.comment-form__row {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 15px;
    margin-bottom: 20px;
}

.comment-form input {
    flex: 1;
    padding: 16px;
    background-color: #F5F5F5;
    border: 0;
    border-radius: 12px;
    outline: none;
}

.comment-form__row label {
    font-weight: 500;
    font-size: 16px;
    color: #3E3232;
    letter-spacing: 1px;
}

textarea {
    outline: none;
    width: 100%;
    /* height: 80px; */
    padding: 16px;
    border-radius: 12px;
    border: 0;
    background-color: #F5F5F5;
    margin-bottom: 12px;
}

.comments__feedback {
    display: flex;
    align-items: center;
    gap: 12px;
    width: 100%;
    padding: 14px;
    flex-wrap: wrap;
    border-radius: 12px;
    background-color: #F5F5F5;
}

.comments__feedback label {
    font-size: 16px;
    font-weight: 500;
}

.comments__feedback-rating-options {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 24px;
}

.comments__feedback-rating-options span {
    cursor: pointer;
    font-size: 16px;
}

.comments__feedback-rating-options button {
    display: inline-flex;
    align-items: center;
    gap: 8px;
}

.comments__feedback-right {
    margin-left: auto;
    display: flex;
    align-items: center;
    gap: 15px;
}

.comments__feedback-row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 15px;
}

.related-articles {
    padding-top: 64px;
    padding-bottom: 64px;
    background-color: #F5F5F6;
}


/* Tablet  */

@media (min-width: 768px) and (max-width: 1023px) {
    .hero-banner img {
        height: 232px;
    }
    .comment-form {
        margin-bottom: 0;
    }
    .comments__feedback-rating-options {
        gap: 12px;
    }
    .comments__feedback {
        padding-right: 4px;
    }
    .comments__feedback-rating-options button {
        padding-left: 14px;
        padding-right: 14px;
    }
}

/* Media Query For Mobile */
@media screen and (max-width: 767px) {
    .hero-banner img {
        height: 180px;
        object-position: 80%;
    }

    .post-header {
        flex-direction: column;
        gap: 10px;
    }

    .explore-more-link {
        margin-top: 32px;
    }

    .comments-add {
        padding-bottom: 0;
    }

    .post-card {
        margin-top: 30px;
    }

    .comments-card__content {
        flex-wrap: wrap;
    }

    .post-testimonial__btn div p {
        display: none;
    }

    .comments__feedback-row {
        flex-direction: column;
        gap: 25px;
    }

    .comments__feedback {
        justify-content: center;
    }

    .comments__feedback-right {
        margin-left: 0;
    }

    .comments__feedback-rating-options {
        gap: 14px;
    }

    .btn--align {
        width: 100%;
        justify-content: center;
    }

    .comment-form {
        flex-direction: column;
        gap: 0;
        margin-bottom: 12px;
    }

    textarea {
        margin-bottom: 0;
    }
}